dotenv_if_exists
source_env_if_exists .envrc.local

use_secret_profile pzzld

# -------- [RSHYPER] ---------
export RSHYPER_WORKDIR="$PWD/.rshyper"

# -------- [RUST] ---------
export CARGO_TERM_COLOR=always
export RUST_BACKTRACE=full
export RUST_LOG="info,rshyper=debug,tower_http=info"
export RUSTC_WRAPPER=sccache

# ----- [CRATES-IO] -----
load_secret CARGO_REGISTRY_TOKEN cargo-registry-token
